

body {
    margin: 0;
    padding-top: 80px;
    padding-left: 280px;
    padding-right: 24px;
    background-color: rgb(249, 249, 249);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    position: relative;

}